@font-face {
    font-family: karla;
    src: url(/fonts/Karla.ttf);
  }
  body{
      font-family: karla;
  }
  h2{
      font-family: karla;
  }
a{
    text-decoration:none;
    transition: 0.5s;
    font-family: karla;
}
.navbar{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
a:hover{
    color: black;
}
.brand{
    font-size: 40px;
}
.li{
    font-size: 23px;

}
.content{
    margin: auto;
    padding-top: 10%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
img{
    height: 250px;
    width: 250px;
}
.conta{
    display: block;
    height: 100px;
}
.element{
    display: block;
    margin:0;
}
.form{
    width: 100%;
}
.sbm{
    width:90px;
    transition: 0.5s;
}
.sbm:hover{
    border-color: white;
}